<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
  <tbody>
    <tr>
      <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px">
        <tbody>
          <tr>
            <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
              <tbody>
                <tr>
                  <td><a href="http://yourlink" target="_blank"><img alt="" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_01_01.jpg" style="height:76px; width:61px" /></a></td>
                  <td><a href="http://yourlink" target="_blank"><img alt="" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_01_02.jpg" style="height:76px; width:144px" /></a></td>
                  <td>
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                    <tbody>
                      <tr>
                        <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                          <tbody>
                            <tr>
                              <td><a href="http://yourlink"><strong>SEND TO A FRIEND</strong></a></td>
                              <td><a href="http://yourlink"><strong>VIEW AS A WEB PAGE</strong></a></td>
                              <td>&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                      </tr>
                      <tr>
                        <td><img alt="" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_01_04.jpg" style="height:30px; width:393px" /></td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td><strong>N E W S L E T T E R</strong></td>
          </tr>
          <tr>
            <td><a href="http://yourlink" target="_blank"><img alt="" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_02.jpg" style="height:249px; width:598px" /></a></td>
          </tr>
          <tr>
            <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                    <tbody>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                          <tbody>
                            <tr>
                              <td>
                              <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tbody>
                                  <tr>
                                    <td><strong><em>Main Feature Story</em></strong></td>
                                  </tr>
                                  <tr>
                                    <td>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio t non <a href="http://yourlink"><strong><em>read more} </em></strong></a></td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                      <tbody>
                                        <tr>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                      <tbody>
                                        <tr>
                                          <td><img alt="" src="https://manage.sendmymail.in/template/images/NEWSLETTER GREEN01.jpg" style="height:130px; width:150px" /></td>
                                          <td><strong><em>Second feature</em></strong><br />
                                          Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisn <a href="http://yourlink"><strong><em>read more} </em></strong></a>&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                      <tbody>
                                        <tr>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                      <tbody>
                                        <tr>
                                          <td><img alt="" src="https://manage.sendmymail.in/template/images/NEWSLETTER GREEN02.jpg" style="height:130px; width:150px" /></td>
                                          <td><strong><em>Second feature</em></strong><br />
                                          Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisn <a href="http://yourlink"><strong><em>read more} </em></strong></a>&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                              <td>&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td>
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                    <tbody>
                      <tr>
                        <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                          <tbody>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>
                              <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tbody>
                                  <tr>
                                    <td><a href="http://yourlink" target="_blank"><img alt="buy her" src="https://manage.sendmymail.in/template/images/NEWSLETTER GREEN03.jpg" style="height:144px; width:181px" /></a></td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                      <tbody>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td>
                                          <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                            <tbody>
                                              <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td>&nbsp;</td>
                                                <td><strong>SPECIAL COLUMN</strong></td>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td>&nbsp;</td>
                                                <td>
                                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                                  <tbody>
                                                    <tr>
                                                      <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                      <td>&nbsp;</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                </td>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td>&nbsp;</td>
                                                <td>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, <a href="http://yourlink"><strong><em>read more} </em></strong></a></td>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td>&nbsp;</td>
                                                <td><a href="http://yourlink" target="_blank"><img alt="view more offers" src="https://manage.sendmymail.in/template/images/NEWSLETTER GREEN04.jpg" style="height:43px; width:129px" /></a></td>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          </td>
                                          <td>&nbsp;</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img alt="" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_07.jpg" style="height:7px; width:598px" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td><a href="http://yourlink"><strong>UNSUBSCRIBE </strong></a></td>
                  <td><strong>|</strong></td>
                  <td><a href="http://yourlink"><strong>ABOUT </strong></a></td>
                  <td><strong>|</strong></td>
                  <td><a href="http://yourlink"><strong>PRESS </strong></a></td>
                  <td><strong>|</strong></td>
                  <td><a href="http://yourlink"><strong>CONTACT </strong></a></td>
                  <td><strong>|</strong></td>
                  <td><a href="http://yourlink"><strong>STAY CONNECTED</strong></a></td>
                  <td><a href="https://www.facebook.com/" target="_blank"><img alt="facebook" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_09_01.jpg" style="height:19px; width:22px" /></a></td>
                  <td><a href="https://twitter.com/" target="_blank"><img alt="twitter" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_09_02.jpg" style="height:19px; width:23px" /></a></td>
                  <td><a href="http://www.linkedin.com/" target="_blank"><img alt="linkedin" src="https://manage.sendmymail.in/template/images/PROMO-GREEN2_09_03.jpg" style="height:19px; width:20px" /></a></td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Head Office &amp; Registered Office | Company name Ltd, Adress Line, Company Street, City, State, Zip Code | Tel: 123 555 555 | <a href="http://yourlink">customercare@company.com</a></strong></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
  </tbody>
</table>
